/* 
*****General Styles*****
*/
/* import styleSheets */
@import url('./reset.css');
@import url('./tanha_font.css');

/* Styles */
body {
  background-color: #fffffc;
  color: #001011;
}
.redtent-root {
  background-color: inherit;
  font-family: Tanha, cursive;
  font-size: 16px;
  direction: rtl;
  display: flex;
  flex-direction: column;
}

@import url('./header.css');
@import url('./footer.css');
@import url('./login.css');
