body {
  background-color: #fffffc;
  color: #001011;
}
.redtent-root {
  background-color: inherit;
  font-family: Tanha, cursive;
  font-size: 16px;
  direction: rtl;
  display: flex;
  flex-direction: column;
}
